/* General Demo Style */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; max-width: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: "Garamond", Serif;
	color: black;
	font-size: 20px;
}

a:link {
    text-decoration: none;
    color: #090C9B;
}

a:visited {
    text-decoration: none;
    color: #090C9B;
}

a:hover {
    text-decoration: none;
    //color: yellow;
}

a:active {
    text-decoration: none;
    color: transparent;
}

h1 {

}

p {
	background-color: yellow;
}

/* page wrapper */

#pageWrap {
	position: fixed;
	width: 100%;
	height: 100%;
	color: #090C9B;
	font-weight: 500;
}


/* Navigation */

#nav {
	text-align: center;
	letter-spacing: 2px;
}

#nav a {
	color: #090C9B;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;

	-webkit-transition: border-color .3s linear; /* Saf3.2+, Chrome */
     -moz-transition: border-color .3s linear; /* FF3.7+ */
       -o-transition: border-color .3s linear; /* Opera 10.5 */
          transition: border-color .3s linear;
}

#nav a:hover {
	/*background: yellow;*/
	/*color: transparent;*/
	border-color: #090C9B;
}

.navLink {
	position: absolute;
	z-index: 1;
}

#menuWrap {
	top: 30px;
	width: 100%;
}

#menu {
	margin: 0 auto;
	max-width: 500px;
}

#menu ul {
	list-style: none;
	height: 30px;
	/*border-bottom: 2px solid #FBFFF1;*/
}

#menu ul li {
	float: left;
	/*margin-left: 50px;
	margin-right: 50px;*/
	/*padding-bottom: 3px; */
	/*border-bottom: 2px solid #ddd;*/
}

#menu ul li:nth-child(2) a {
	margin-left: 100px;
	margin-right: 100px;
}

#blogWrap {
	right: 40px;
	top: 50%;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

#blog {

}

#newsletterWrap {
	width: 100%;
	bottom: 40px;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

#newsletter {
	margin: 0 auto;
	width: 200px;
}

#xxxWrap {
	top: 50%;
	left: 0px;
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-webkit-transform:rotate(270deg); /* Opera, Chrome, and Safari */
}

/* Main */

#mainWrap {
	border: 10px solid #090C9B;
	border-image: linear-gradient(to right, #090C9B, #B4C5E4) 14% stretch;
	height: 100%;
}

#main {

}

/* Content View*/

#viewWrap {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 40px;
	padding-left: 20px;
}

#viewContainerWrap {
	background: transparent;
	max-width: 1050px;
	height: 540px;
	position: relative;
	margin: 0 auto;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	text-align: center;
}

.arrows {
	font-size: 30px;
	position: relative;
	text-align: center;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.arrows:hover {
	cursor: pointer;
}

#left {
	display: inline-block;
	margin-right: 10px; 
}

#right {
	display: inline-block;
	margin-left: 10px;
}

#viewContainer {
	background: transparent;
	max-width: 960px;
	height: 540px;
	margin: 0 auto;
	position: relative;
  	/*top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);*/

  	//overflow: auto;
  	overflow: hidden;
  	overflow-y: hidden; 
  	white-space: nowrap;
  	direction:rtl;

  	display: inline-block;
}

#viewContainer::-webkit-scrollbar { 
    display: none; 
}

.content {
	display: inline-block;
	height: 540px;
	width: 720px;
	background: #090C9B;
	margin-left: 20px;
	text-align: center;
	background: no-repeat;
	//background-size: cover;
}

.content h1 {
	margin: 0;
	color: #FFF;
	font-weight: 100;

	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/* About */

#aboutContainer {
	margin: 0 auto;
	position: relative;
	max-width: 960px;
	height: 550px;
	padding: 50px;
	overflow: auto;
	text-align: center;
}

#aboutImg {
	background: url("../img/YOUNG.jpg") 100% 100% no-repeat;
	background-size: cover;
	width: 350px;
	height: 350px;
	float: left;
	margin: 40px 0 40px 0;
}

#aboutText {
	//background: yellow;
	max-width: 500px;
	height: 450px;
	padding: 40px 0px 0px 40px;
	float: left;
}

/* Follow */

.follow {
	text-align: center;
	width: 200px;
	height: 56px;
	position: fixed;
	top: 50%;
	left: 50%;
	/*visibility: hidden;*/
}

/* Newsletter Signup */

#signupWrap {
	width: 100%;
	position: absolute;
	top: 38%;
}

#signupForm {
	max-width: 400px;
	position: relative;
	margin: 0 auto;
}

/* Custom Devices stuff */

@media screen and (max-width: 1200px) {

#viewContainer {
	max-width: 720px;
}

}

@media screen and (max-width: 960px) {

#viewContainer {
	max-width: 540px;
}

}

@media screen and (max-width: 1050px) {

#aboutContainer {
	max-width: 870px;
}

#aboutText {
	font-size: 18px;
	max-width: 450px;
}

#aboutImg {
	width: 300px;
	height: 300px;
}	

}

@media screen and (max-width: 920px) {

#aboutContainer {
	max-width: 650px;
}

#aboutText {
	font-size: 16px;
	max-width: 350px;
}

#aboutImg {
	width: 200px;
	height: 200px;
}	

}

@media screen and (max-width: 800px) {

#aboutContainer {
	max-width: 450px;
}

#aboutText {
	font-size: 16px;
	max-width: 350px;
}

#aboutImg {
	width: 350px;
	height: 350px;
}	

}


@media screen and (max-width: 800px) {

#viewContainer {
	max-width: 540px;
	overflow: auto;
}

#viewContainerWrap {
	max-width: 540px;
	top: 43.9%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.arrows {
	visibility: hidden;
}	

}

@media only screen and (max-device-width: 667px) {

#viewContainer {
	max-width: 540px;
	overflow: auto;
}

#viewContainerWrap {
	max-width: 540px;
	/*top: 43.9%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);*/
}

.arrows {
	visibility: hidden;
}	


}

@media only screen and (max-device-width: 667px) and (orientation : landscape) {

#viewContainer {
	max-width: 540px;
	height: 320px;
	overflow: auto;
}

#viewContainerWrap {
	max-width: 540px;
	/*top: 43.9%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);*/
}

.arrows {
	visibility: hidden;
}	


}

@media only screen and (max-width: 768px) {


}


